<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
<!--    <link rel="stylesheet" th:href="@{/style.css}" />-->
    <meta charset="utf-8" />
</head>
<body>
<div>
    <p th:if="${urlAliaser}" th:utext="'Your URL is aliased to <b>' + ${urlAliaser.alias} + '</b>  and your secret code is <b>' + ${urlAliaser.secretCode} + '</b>.'"></p>
    <p th:if="${error}" th:text="${error}" style="color: red"></p>
    <form action="/save-link" method="post">
        <div>
            <label for="url">URL</label>
        </div>
        <div>
            <input id="url" type="text" name="url" th:value="${url}">
        </div>
        <div>
            <label for="alias">Alias</label>
        </div>
        <div>
            <input id="alias" type="text" name="alias" th:value="${alias}">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>