<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<ul>
    <li>
        <a href="">Information</a>
    </li>
    <li>
        <a th:href="'/nutritionStore?name=' + ${fox.name}">Nutrition Store</a>
    </li>
    <li>
        <a th:href="'/trickCenter?name=' + ${fox.name}">Trick Center</a>
    </li>

</ul>
<div class="fox image">
    <img src="greenfox.png" alt="can not find fox">
</div>
<div class="characteristic">
    <p th:text="'This is ' + ${fox.name} + '. Currently living on ' + ${fox.food} + ' and ' + ${fox.drink} + '. (S)he knows ' + ${fox.numberOfTricks()} + ' trick(s).'"></p>
</div>
<h1>Known tricks</h1>
<p th:if="${fox.getTricks().isEmpty()}">You know no tricks yet. Go learn some.</p>
<ul>
    <li th:unless="${fox.getTricks().isEmpty()}" th:each="trick : ${fox.getTricks()}" th:text="${trick}"></li>
</ul>

<!--<ul>-->
<!--    <li> write HTML</li>-->
<!--    <li> code in Java</li>-->
<!--</ul>-->

</body>
</html>