<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Accounts</title>
    <link rel="stylesheet" th:href="@{/style.css}"  />
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
</head>
<body>
<div class="grid">
<h1>Bank of Simba</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>King?</th>
        <th>Good or Bad</th>
    </tr>
    <tr th:each="account : ${bankAccounts}" th:object="${account}" th:attr="class=${account.isKing()} ? 'KING' : 'animal'">
        <td th:text="${accountStat.count}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{#numbers.formatDecimal(balance, 0, 2, 'POINT')} + ' zebra'"></td>
        <td th:text="*{animalType}"></td>
        <td th:text="*{isKing() ? 'KING' : 'animal'}"></td>
        <td th:text="*{isGood() ? 'Good guy' : 'Bad guy'}"></td>
    </tr>

</table>
<form th:action="@{/account-raise}" method="post">
    <div class="raiseForm">
<!--        <label for="select-name">Raise balance</label>-->
        <select id="select-name" name="nameSelected">
            <option th:each="account : ${bankAccounts}" th:text="${account.name}"></option>
        </select>
        <button class="form-button" type="submit">Raise balance</button>
    </div>
</form>
<!--&lt;!&ndash;<a href="add-account">Add new account</a>&ndash;&gt; //ha linkkent szeretnem megadni-->
    <form action="/add-account" method="get">
        <button class="add-button" type="submit">Add new account</button>
    </form>
</div>
</body>
</html>