<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utilities</title>
</head>
<body>
<h1>Links for the available utilities</h1>
<div class="links">
<a href="/useful/colored">Random Colored Background</a>
</div>
<div class="links">
<a href="/useful/email">Email validator</a>
</div>
<div class="links">
    <a href="/useful/encoder">Caesar encoder</a>
</div>
<div class="links">
    <a href="/useful/decoder">Caesar decoder</a>
</div>
</body>
</html>