<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<ul>
    <li>
        <a href="">Information</a>
    </li>
</ul>
<div class="fox image">
<img src="greenfox.png" alt="can not find fox">
</div>
<div class="characteristic">
   <p th:text="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. (S)he knows 2 tricks.'"></p>
</div>
<h1>Known tricks</h1>
<p th:if="${tricks.isEmpty()}">You know no tricks yet. Go learn some</p>
    <ul th:if="${tricks}== null"></ul>
    <li th:unless=""

</p>
<ul>
    <li> write HTML</li>
    <li> code in Java</li>
</ul>

</body>
</html>