<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit todo</title>
</head>
<body>
<h1>Edit Todo</h1>
<form action="#" th:action="@{'/todo/' + ${id} + '/edit'}" th:method="post">

    <div class="input-text">
        <label for="description">Todo Description</label>
    </div>
    <div class="input-box">
        <input id="description" type="text" th:field="${todo.title}">
    </div>
    <div>
        <label for="urgent">Urgent</label>
        <input id="urgent" type="checkbox" th:checked="${todo.getIsUrgent()}" th:field="${todo.isUrgent}">
    </div>
    <div>
        <label for="done">Done</label>
        <input id="done" type="checkbox" th:checked="${todo.getIsDone()}" th:field="${todo.isDone}">
    </div>
    <select th:field="${todo.assignee}" id="select-name" >
        <option th:each="todo : ${todos}" th:text="${todo.assignee.getName()}" th:value="${todo.assignee.getEmail()}"></option>
    </select>
    <div>
        <button class="submit-button" type="submit">Submit</button>
        <span class="link"> <a href="/todo/list">Cancel</a> </span>
    </div>
</form>

</body>
</html>