<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}"  />
</head>
<body>
<h1>Todos for today:</h1>
<div>
<form action="#" th:action="@{'/todo/'}" th:method="get">
    <input th:name="searchInput" type="text">
    <input type="submit" value="Search">
</form>
</div>
<div>
    <a href="/todo/add">Add new todo</a>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    <tr th:each="todo : ${todos}" th:object="${todo}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{isDone}"></td>
        <td th:text="*{isUrgent}"></td>
        <td>
            <a th:href="'/todo/' + *{id} + '/delete'">delete</a>
        </td>
        <td>
            <a th:href="'/todo/' + *{id} + '/edit'">edit</a>
        </td>
    </tr>
</table>
</body>
</html>