* {
    box-sizing: border-box;
  }
 
 body {
    background-color:#3E94EC;
    font-family: 'Heebo', sans-serif;
    color: #566573;
    width: 100%;
  }

  table {
    border-collapse: collapse;
    border-style: hidden; 
    margin: 28px;
    text-align: left; 
  }

  th {
    background-color: #17202A;
    padding-left: 25px;
    border-bottom-width: thick solid#9EA7AF;
    border: 2px solid #9EA7AF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 32px;
    font-weight: normal; 
    color: #D3DBE3;
  }

  tr {
    height: 83px;
  }

  tr th{
    height: 98px;
  }

 td {
    padding: 5px 25px;
    border: 2px solid#9EA7AF;
    font-size: 23px;
 }

  tr:nth-child(even){
    background-color: #EAEDED;
  }

  tr:nth-child(odd){
    background-color: white;
 }

 tr:first-child th{ 
    border-bottom-width: 4px;
    min-width: 365px;
    max-width: 365px;
 }

  tr th:last-child {
    min-width: 432px;
    max-width: 432px;
 }

 tr:last-child td:first-child { 
    border-bottom-left-radius: 3px; 
 }

 tr:last-child td:last-child { 
    border-bottom-right-radius: 3px; 
 }

 .form-price::before{
    content: "$";
 }

 .form-price::after{
    content: '.00';  
 }
