<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}"  />
</head>
<body>
<form action="/register" method="post">
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
    </div>
    <div>
        <label for="pword">Password</label>
        <input id="pword" name="password" type="password">
    </div>
    <div>
        <button class="submit-button" type="submit">Register</button>
    </div>
</form>

</body>
</html>