<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}"  />
</head>
<body>
<h1>Submit a new post</h1>
<form th:action="@{'/' + ${userId} + '/submit'}" method="post">
    <div class="input">
        <label for="title">Title</label>
        <input id="title" name="title" type="text">
    </div>
    <div class="input">
        <label for="url">URL</label>
        <input id="url" name="URL" type="text">
    </div>
    <div>
        <input type="hidden" name="userId" th:value="${user.id}">
    </div>
    <div>
        <button class="submit-button" type="submit">Submit</button>
    </div>
</form>
</body>
</html>